@tailwind base;
  @tailwind components;
  @tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

/*
*
* e7dc0d49636f4194266ce34b5322a2861b7fb1bf
*
*/

.loading .ring {
  display: inline-block;
  position: relative;
  
  /* Default size for larger screens */
  --lds-ring-size: 5rem; /* Adjust the size here */
  --lds-ring-border: 0.6rem; /* Adjust the border size here */
}

.loading .ring,
.loading .ring div {
  height: var(--lds-ring-size); /* Use the CSS variable */
  width: var(--lds-ring-size); /* Use the CSS variable */
  border-block-color: #000000;
}

.loading .ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: var(--lds-ring-border) solid transparent; /* Use the CSS variable */
  border-radius: 50%;
  border-top: var(--lds-ring-border) solid #ffffff;
  border-right: var(--lds-ring-border) solid transparent;
  border-bottom: var(--lds-ring-border) solid transparent;
  border-left: var(--lds-ring-border) solid transparent;
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-block-color: #000000;
}

.loading .ring div:first-child {
  animation-delay: -0.45s;
}

.loading .ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading .ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* New gradient and shadow effect */
.loading .ring div {
  border-top: var(--lds-ring-border) solid transparent;
  border-top-color: #ff3e3e; /* Change color for gradient effect */
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-block-color: #000000;
}

.loading .ring div:nth-child(1) {
  border-top-color: #ffffff;
}

.loading .ring div:nth-child(2) {
  border-top-color: #d62020;
}

.loading .ring div:nth-child(3) {
  border-top-color: #ffffff;
}

.loading .ring div:nth-child(4) {
  border-top-color: #d62020;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .loading .ring {
    --lds-ring-size: 3rem; /* Smaller size for mobile screens */
    --lds-ring-border: 0.3rem; /* Smaller border for mobile screens */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .loading .ring {
    --lds-ring-size: 4rem; /* Medium size for tablet screens */
    --lds-ring-border: 0.45rem; /* Medium border for tablet screens */
  }
}
